.app-title{
    text-align:center;
}
.search-bar{
    margin :10px auto;
    width:50%;
    padding:10px;
    border-radius: 10px;
    display:block;
    font-size: 30px;

}
body{
    color: rgb(228, 109, 23);
}
.temperature-text{
    text-align:center;
    font-size:30px;
}
.message-text{
    text-align: center;
}